/target
/lib
/classes
/checkouts
/out
/resources/public/js/compiled
/resources/public/css/style.css
pom.xml
*.jar
*.class
/*.lein-*
profiles.clj
/.env
.nrepl-port
/log
.idea
*.iml
*.ipr
*.log
*.pyc
*result.xml
.cache
.idea
resources/contracts
node_modules
.DS_Store
