.pagehead-actions {
  position: relative;
  float: right;
  margin: 0;
}

.subnav-search {
  position: relative;
  svg {
    fill: #bbb;
  }
}

.subnav-links {
  margin-left: 10px;
}

.table-list-header {
  border-bottom: 1px solid $lightgray;
  background-color: #f8f8f8;
  .btn-link {
    padding-top: 13px;
    padding-right: 15px;
    padding-bottom: 13px;
    color: #767676;
    text-decoration: none;
    svg {
      fill: #767676;
    }
    &:hover {
      color: #222;
      svg {
        fill: #222;
      }
    }
    &.selected {
      color: #222;
      font-weight: bold;
      svg {
        fill: #222;
      }
    }
  }
  .select-menu-button {
    padding-right: 15px;
    padding-left: 15px;
    color: #767676;
    &::after {
      display: inline-block;
      width: 0;
      height: 0;
      border: 4px solid;
      border-right-color: transparent;
      border-bottom-color: transparent;
      border-left-color: transparent;
      content: "";
      vertical-align: -2px;
    }
  }
}

.issues-list-table {
  border: 1px solid $lightgray;
  border-radius: 3px 3px 0 0;
}

.issues-list, .issue {
  display: block;
  width: 100%;
}

.issue {
  border-top: 1px solid $border-color;
  a.muted-link {
    color: #767676;
    svg {
      fill: currentColor;
    }
    &:hover {
      color: $links;
      svg {
        fill: $links;
      }
    }
  }
  &:first-child {
    border-top: 0;
  }
  .octicon {
    &.open {
      color: #6cc644;

      fill: #6cc644;
    }
    &.closed {
      color: #bd2c00;

      fill: #bd2c00;
    }
  }
  &:hover {
    background-color: #f5f5f5;
  }
}

.opened-by {
  a {
    color: inherit;
    &:hover {
      color: $links;
      text-decoration: none;
    }
  }
}

.labels {
  a.label {
    display: inline-block;
    padding: 3px 4px;
    border-radius: 2px;
    box-shadow: inset 0 -1px 0 rgba(0,0,0,0.12);
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    font-size: 12px;
    line-height: 1;
  }
}

.issue-meta-section {
  margin-right: 10px;
  .octicon {
    color: #ccc;
    vertical-align: bottom;

    fill: #ccc;
  }
}

.task-progress {
  color: #767676;
  text-decoration: none;
  .progress-bar {
    display: inline-block;
    width: 120px;
    height: 5px;
    background-color: #eee;
    vertical-align: 2px;
    .progress {
      display: block;
      height: 100%;
      background-color: #ccc;
    }
  }
}

.issue-milestone {
  max-width: 240px;
}
