{:production           true
 :port                 3000
 :jdbc-database-url         "jdbc:postgresql://ec2-54-217-213-203.eu-west-1.compute.amazonaws.com:5432/d7cku33rlq0j96?user=wehpnfptnwmvwn&password=YpJoD1AmgPN4FMyQHl1FO3bWmI"
 :server-address       "http://commiteth.herokuapp.com"
 :github-client-id     "eaf23cff7b5fbdf716a6"
 :github-client-secret "a31af857986c8385b95962c7a590033513ef24d9"}
