html, body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  height: 100%;
  padding-top: 0px;
}

.app {
  width: 100%;
  padding: 0;
  margin: 0;
  max-width: 100%;
}

.container {
  padding-top: 20px;
}

.profile-settings {
  padding-top: 20px;

  .form-group {
    padding-top: 20px;
  }

  button {
    margin-top: 20px;
  }

}

.profile-link {
  display: inline-block;
  padding-top: .425rem;
  padding-bottom: .425rem;
  padding-right: 1em;
  color: rgba(0,0,0,.3);
}

.navbar-toggler, .nav-item {
  float: left;
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
}
