.cookie-popup {
  margin: 0 auto;
  position: relative;
}

.cookie-popup__inner {
  display: block;
  right: 20px;
  top: 20px;
  position: fixed;
  border-radius: 8px;
  background-color: $colorWhite;
  box-shadow: 0px 4px 18px 0px rgba(189,208,223,0.26);
  border-radius: 8px;
  padding: 30px;
  z-index: 999;

  opacity: 0;
  transform: translate3d(20px, 0, 0) scale(.5);
  transition: transform .4s cubic-bezier(0.175, 0.885, 0.135, 1.425), opacity .2s ease;
  transition-delay: 1.5s
}

.cookie-popup-text {
  display: block;
  width: 220px;
  font-size: 16px;
  padding: 0 0 10px 0;
}

.cookie-popup-button {
  display: inline-block;
  margin: 10px 0 0 0;
  font-family: $PostGroteskMedium;
  text-transform: uppercase;
  line-height: 15px;
  padding: 14px 25px 14px;
  font-size: 13px;
  letter-spacing: 1px;
  color: #6370CA;
  background-color: rgba(99, 112, 202, .1);
  border-radius: 10px;
}

.shown .cookie-popup__inner {
  opacity: 1;
  transform: translate3d(0, 0, 0) scale(1);
}

@media (max-width: 767px) {

  .cookie-popup__inner {
    display: none;
  }

}
