.email-form {
  display: flex;
  position: relative;
}

.email-form.email-form--error .email-form__inner {
  animation-duration: .6s;
  animation-fill-mode: both;
  animation-name: shakeIt;
  animation-timing-function: ease
}

.email-form a {
  color: #3685C9;
  font-family: $PostGroteskMedium;
}

.email-form__responces {
  position: relative;
  color: rgba(255, 255, 255, .6);
  width: 100%;
  text-align: left;
  margin: 10px 0 0 0;
  font-size: 14px;
  line-height: 16px;
  height: 50px;
}

.email-form__error-message {
  opacity: 0;
  transform: translate3d(0, 10px, 0);
  transition: transform .2s ease, opacity .2s ease;
}

.email-form__error-message.email-form__error-message--shown {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

.email-form__success-message {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 350px;
  z-index: 900;
  padding: 15px;
  font-size: 15px;
  border-radius: 8px;
  text-align: left;
  background-color: #3E4C59;
  color: rgba(255, 255, 255, 1);
  line-height: 22px;

  opacity: 0;
  transform: translate3d(0, 10px, 0) scaleX(.94) scaleY(.94);
  transition: transform .4s cubic-bezier(0.320, 0.092, 0.000, 1.300), opacity .2s ease;
}

.email-form__success-message::after {
  content:"";
  position: absolute;
  top: -5px;
  left: 10px;
  width: 0px;
  height: 0px;
  margin: 0 0 0 -7px;

  border-left: 14px solid transparent;
  border-right: 14px solid transparent;
  border-bottom: 14px solid #3E4C59;
}

.email-form__success-message.email-form__success-message--shown {
  opacity: 1;
  transform: translate3d(0, 0, 0) scaleX(1) scaleY(1)
}

.email-form__inner {
  display: flex;
  position: relative;
}

.email-form .hs_email.hs-form-field label {
  display: none;
}

.email-form__input--email,
.email-form .hs_email.hs-form-field input {
  text-align: left;
  background-color: #4c81b6;
  color: #b6cbe1;
  padding: 16px 15px 15px 15px;
  margin: 0 0 0 0;
  font-family: 'PostGrotesk-Book', sans-serif;
  box-sizing: border-box;
  border-radius: 8px;

  transition: background-color .2s ease;
  font-weight: 400;
  font-size: 16px;
}

input.email-form__input--email:disabled {
  //color: #AEB5BA;
  //background-color: #F7FAFB;
  //opacity: 1;
}

.email-form--valid .email-form__input--email {
  color: #92999F;
  background-image: url(../img/new-site/verified.png);
  background-size: 24px;
  background-repeat: no-repeat;
  background-position: right 10px center;
}

.email-form__input--email:focus {

}

.email-form__input--email::-webkit-input-placeholder,
.email-form__input--email::-moz-placeholder,
.email-form__input--email:-ms-input-placeholder {
  color: #AEB5BA;
}

.email-form__input--email:-moz-placeholder {
  color: rgba(255, 255, 255, .6);
}

.email-form .hbspt-form {
  width: 100%;

  & > .submitted-message {
    color: #ffffff;
    opacity: 0.6;
  }

  & > form > div {
    display: inline-block;

    & > div {
      margin: 0;
    }
  }
}

.email-form input[type="submit"] {
  flex-shrink: 0;
  flex-grow: 0;
  margin-left: 1em;
  border-radius: 8px;
}

.email-form input[type="submit"]:hover {
  //background-color: #945BF0;
}

.email-form input[type="submit"]:disabled {
  //cursor: default;
  //color: #8CC2F2;
}

.email-form input[type="submit"]:disabled:hover {
    //background-color: #CAE1F7;
}



@media (max-width: 640px) {

  .email-form, .email-form__inner {
    display: flex;
    width: auto;
  }

  .email-form__inner {
    flex-direction: column;
  }

  .email-form__responces {
    width: 240px;
    text-align: center;
    margin-bottom: 24px;
    height: auto;
  }

  .email-form__success-message {
    width: 240px;
  }
  .email-form__success-message::after {
    left: 50%;
    margin: 0 0 0 -14px;
  }

}


@keyframes shakeIt {
  0%, 100% {
    transform: translate3d(0, 0, 0);
  }

  20%, 60% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 80% {
    transform: translate3d(4px, 0, 0);
  }
}
