.footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  z-index: -1;

  display: flex;
  justify-content: center;
  background-color: #1e3751;
  border-top: 100px solid #1e3751;
}

.footer.footer--not-fancy {
  position: static;
  border-top: 0px
}

.footer.footer--page {
  position: static;
  margin: -96px 0 0 0;
  border-top:  56px solid #4A5C69
}

.footer-inner {
  display: flex;
  justify-content: space-between;
  width: 1080px;
}

.footer-logo-wrap {
  width: 280px;
  display: flex;
}

.footer-logo-wrap__inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 65px 0 75px 0;
}

.footer-logo {
  width: 52px;
  height: 52px;
  background-size: 52px;
  background-image: url(../img/new-site/footer-logo@2x.png);
}

.footer-address {
  color: $colorWhite;
  padding: 20px 0 0 0;
  opacity: .5;
}


.footer-table {
  display: flex;
}

.footer-table__column {
  box-sizing: border-box;
  padding: 60px 40px;
}

.footer-header {
  color: $colorWhite;
  opacity: .5;
  font-size: 17px;
  margin: 0 0 40px 0;
}

.footer-link {
  height: 32px;
  line-height: 32px;
  font-size: 16px;
  margin: 0 0 15px 0;
}

.footer-link a {
  display: flex;
  align-items: center;
}

.footer-icon {
  display: inline-block;
  width: 32px;
  height: 32px;
  background-color: rgba(255, 255, 255, .1);
  border-radius: 50%;
  margin: 0 15px 0 0;
  background-repeat: no-repeat;
  background-size: 24px;
  background-position: center;
}

.footer-link--fb .footer-icon {
  background-image: url(../img/new-site/icon_fb.svg);
}

.footer-link--tw .footer-icon {
  background-image: url(../img/new-site/icon_tw2.svg);
}

.footer-link--sl .footer-icon {
  background-image: url(../img/new-site/icon_sl2.svg);
}

.footer-link--gh .footer-icon {
  background-image: url(../img/new-site/icon_gh2.svg);
}

.footer-link--rd .footer-icon {
  background-image: url(../img/new-site/icon_rd2.svg);
}

.footer-link--yt .footer-icon {
  background-image: url(../img/new-site/icon_yt.svg);
}

.footer-link--rt .footer-icon {
    background-image: url(../img/new-site/icon_rt.svg);
}

.footer-link a {
  color: $colorWhite;
}

.footer-link a:hover {
  opacity: .8
}

.language-switcher {
  font-family: $PostGroteskBook;
  color: $colorWhite;
  -webkit-appearance: none;
  font-size: 16px;
  line-height: 32px;
  padding: 0 24px 0 0;
  background-image: url(../img/new-site/icon_dropdown-white.svg);
  background-size: 24px;
  background-repeat: no-repeat;
  background-position: right center;
}

.language-switcher:focus{
    outline: none;
}

@media (max-width: 1140px) {

  .footer-inner {
    width: 820px;
    justify-content: space-around;
  }

  .footer-logo-wrap {
    width: 200px;
  }

}

@media (max-width: 767px) {

  .footer {
    position: static;
    border-top: 0px;
  }

  .footer.footer--page {
    border-top: 100px solid #4A5C69
  }

  .footer-inner {
    padding: 30px 0 0 0;
    flex-direction: column;
  }

  .footer-table {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .footer-table__column {
    text-align: center;
    padding: 10px 16px;
  }

  .footer-logo-wrap {
    width: auto;
    order: 2
  }

  .footer-header {
    margin: 0 0 10px 0;  }

  .footer-logo-wrap__inner {
    width: 100%;
    padding: 0 0 40px 0;
    align-items: center;
    text-align: center;
  }

  .footer-link {
    text-align: center;
    height: 24px;
    line-height: 24px;
    margin: 0 0 10px 0;
  }

  .footer-link a {
    justify-content: center;
    text-align: center;
  }

  .footer-icon {
    display: none;
  }

  .footer-logo {
    display: none;
  }


}
