.slide.slide--two .slide__inner {
  background: #FFFFFF;
  margin: 0 0 0 0;
}

@media (min-width: 1200px) {
  .slide.slide--two .slide__inner {
    top: -72px;
    width: 1150px;
    background: #FFFFFF;
    box-shadow: 0 5px 16px 0 rgba(230, 235, 238, 0.68);
    border-radius: 8px;
  }
}

/***   IMAGE ONE   ***/

.section__image-wrap--one {
  width: 300px;
  height: 300px;
  position: relative;
}

.section__image-wrap--one .image-part {
  position: absolute;
  opacity: 0;
  transition: transform .86s cubic-bezier(0.250, 0.460, 0.000, 1.105), opacity .2s ease;
}

.section__image-wrap--one .image-phone {
  width: 103px;
  height: 180px;
  background-image: url(../img/new-site/image-phone@2x.png);
  background-size: 103px;
  left: 90px;
  top: 60px;
  transform: rotate(-49deg) scale(.5)
}

.section__image-wrap--one .image-arrow {
  width: 55px;
  height: 55px;
  background-image: url(../img/new-site/image-arrow@2x.png);
  background-size: 55px;
  left: 112px;
  top: 120px;
  transform: translate3d(0, 0, 0) scale(.2) rotate(-29deg);
  transition-delay: .4s
}

.section__image-wrap--one .image-card {
  width: 131px;
  height: 97px;
  background-image: url(../img/new-site/image-card@2x.png);
  background-size: 131px;
  left: 118px;
  top: 30px;
  transform: translate3d(20px, 0, 0) scale(.6) rotate(44deg);
}

.section__image-wrap--one .image-waves {
  width: 34px;
  height: 42px;
  background-image: url(../img/new-site/image-waves@2x.png);
  background-size: 34px;
  left: 30px;
  top: 62px;
  transform: translate3d(-20px, -20px, 0) scale(.6) rotate(0);
  transition-delay: .7s
}

.section--shown .section__image-wrap--one .image-phone {
  opacity:  1;
  transform: translate3d(0, 0, 0) scale(1) rotate(-29deg)
}

.section--shown .section__image-wrap--one .image-arrow {
  opacity:  1;
  transform: translate3d(0, 0, 0) scale(1) rotate(-29deg)
}

.section--shown .section__image-wrap--one .image-card {
  opacity:  1;
  transform: translate3d(0, 0, 0) scale(1) rotate(24deg)
}

.section--shown .section__image-wrap--one .image-waves {
  opacity:  1;
  transform: translate3d(0, 0, 0) scale(1) rotate(0)
}

/***   IMAGE TWO   ***/

.section__image-wrap--two {
  width: 300px;
  height: 300px;
  position: relative;
}

.section__image-wrap--two .image-part {
  position: absolute;
  opacity: 0;
  transition: transform .86s cubic-bezier(0.250, 0.460, 0.000, 1.105), opacity .2s ease;
}

.section__image-wrap--two .image-card-lock--one {
  width: 176px;
  height: 184px;
  background-image: url(../img/new-site/image-card-lock@2x.png);
  background-size: 176px;
  left: 60px;
  top: 40px;
  transform: rotate(0deg) scale(.5)
}

.section__image-wrap--two .image-card-lock--two {
  width: 176px;
  height: 130px;
  background-image: url(../img/new-site/image-card-lock2@2x.png);
  background-size: 176px;
  left: 50px;
  top: 128px;
  transform: rotate(0deg) scale(.5);
  transition-delay: .2s
}

.section--shown .section__image-wrap--two .image-card-lock--one {
  opacity:  1;
  transform: translate3d(0, 0, 0) scale(1) rotate(-15deg)
}

.section--shown .section__image-wrap--two .image-card-lock--two {
  opacity:  1;
  transform: translate3d(0, 0, 0) scale(1) rotate(-15deg)
}

/***   IMAGE THREE   ***/
.section--three .section__image {
  width: 270px;
  height: 160px;
}

.section__image-wrap--three {
  width: 270px;
  height: 160px;
  background-color: black
}

.dapp-logos {
  width: 270px;
  height: 160px;
  display: flex;
  flex-wrap: wrap;
  justify-content:flex-start;
  align-items: center;
}

.dapp-logo {
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 70px;
  margin: 10px;
  background: #7F44DF;
  box-shadow: 0 3px 6px 0 rgba(0,0,0,0.15);
  transition: transform .8s ease, opacity .4s ease;
  transform: translate3d(0, 25px, 0) scale(.9) rotate(0);
  opacity: 0;
}

.dapp-logo:nth-child(1) { transition-delay: .1s }
.dapp-logo:nth-child(2) { transition-delay: .2s }
.dapp-logo:nth-child(3) { transition-delay: .3s }
.dapp-logo:nth-child(4) { transition-delay: .4s }
.dapp-logo:nth-child(5) { transition-delay: .5s }
.dapp-logo:nth-child(6) { transition-delay: .8s }

.dapp-logo--plus {
  background-color: #EEE8F7;
  box-shadow: none;
  transition: transform .86s cubic-bezier(0.250, 0.460, 0.000, 1.105), opacity .2s ease;
  transform: translate3d(0, 0, 0) scale(.4) rotate(0);
}

.dapp-logo__icon {
  display: block;
  background-repeat: no-repeat;
}

.dapp-logo__icon--eth {
  width: 23px;
  height: 40px;
  background-size: 23px;
  background-image: url(../img/new-site/logo-eth@2x.png);
}

.dapp-logo__icon--tenx {
  width: 40px;
  height: 26px;
  background-size: 40px;
  background-image: url(../img/new-site/logo-tenx@2x.png);
}

.dapp-logo__icon--omise {
  width: 30px;
  height: 29px;
  background-size: 30px;
  background-image: url(../img/new-site/logo-omise@2x.png);
}

.dapp-logo__icon--status {
  width: 32px;
  height: 34px;
  background-size: 33px;
  background-image: url(../img/new-site/logo-status@2x.png);
}

.dapp-logo__icon--gnosis {
  width: 44px;
  height: 18px;
  background-size: 45px;
  background-image: url(../img/new-site/logo-gnosis@2x.png);
}

.dapp-logo__icon--plus {
  width: 29px;
  height: 29px;
  background-size: 29px;
  background-image: url(../img/new-site/logo-plus@2x.png);
}

.section--shown .dapp-logo {
  opacity:  1;
  transform: translate3d(0, 0, 0) scale(1) rotate(0)
}

/***   IMAGE FOUR   ***/

.section--four .section__image {
  width: 320px;
  height: 120px;
}

.section__image-wrap--four {
  width: 320px;
  height: 120px;
  position: relative;
}

.section__image-wrap--four .image-part,
.section__image-wrap--four .image-circle {
  position: absolute;
  opacity: 0;
  transition: transform .86s cubic-bezier(0.250, 0.460, 0.000, 1.105), opacity .2s ease;
}

.section__image-wrap--four .image-lines {
  width: 296px;
  height: 112px;
  background-size: 296px;
  background-image: url(../img/new-site/lines@2x.png);
  opacity: 1
}

.image-cover {
  position: absolute;
  height: 112px;
  width: 160px;
  right: 0;
  top: 0;
  background-color: #ffffff;
  transition: width 1.8s ease;
}

.section__image-wrap--four .image-logo {
  left: 80px;
  top: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 84px;
  height: 84px;
  background: #7F44DF;
  border-radius: 50%;
  box-shadow: 0 6px 9px 0 rgba(0,0,0,0.15);
  opacity: 1;
}

.image-logo .image-logo__symbol {
  height: 38px;
  width: 38px;
  background-image: url(../img/new-site/status-symbol.svg);
  background-size: 38px;
  background-position: left;
}

.section__image-wrap--four .image-circle {
  height: 22px;
  width: 22px;
  border-radius: 50%;
  background: #FFFFFF;
  border: 6px solid #42325A;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.40);
  transition: transform .86s cubic-bezier(0.250, 0.460, 0.000, 1.105), opacity .2s ease;
}

.section__image-wrap--four .image-circle.image-circle--one {
  left: 0px;
  top: 45px;
  opacity: 1;
}

.section__image-wrap--four .image-circle.image-circle--two {
  left: 237px;
  top: -6px;
  opacity: 0;
  transform: scale(.1)
}

.section__image-wrap--four .image-circle.image-circle--three {
  left: 278px;
  top: 94px;
  transform: scale(.1)
}

.section__image-wrap--four .image-circle.image-circle--four {
  left: 283px;
  top: 45px;
  transform: scale(.1)
}

.section--shown .image-cover {
  width: 10px;
}

.section--shown .section__image-wrap--four .image-circle.image-circle--two {
  transform: scale(1);
  opacity: 1;
  transition-delay: .8s
}

.section--shown .section__image-wrap--four .image-circle.image-circle--three {
  transform: scale(1);
  opacity: 1;
  transition-delay: 1.2s
}

.section--shown .section__image-wrap--four .image-circle.image-circle--four {
  transform: scale(1);
  opacity: 1;
    transition-delay: 1.6s
}

@media (max-width: 1200px) {

  .slide.slide--two .slide__inner {
    width: 100%;
    border-radius: 0;
  }

}

@media (max-width: 640px) {
  .section--two .section__image {
    height: 220px;
  }
  .section__image-wrap--two .image-card-lock--one {
    top: -10px;
  }
  .section__image-wrap--two .image-card-lock--two {
    top: 78px;
  }
  .section--three .section__image {
    height: 210px;
  }
  .section--four .section__image,
  .section__image-wrap--four {
    height: 180px;
  }
  .section__image-wrap--four {
    margin: 16px 0 0 0;
  }
}
