.slide.slide--one .slide__inner {
  width: 1200px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hero-image-wrap {
  width: 300px;
  height: 240px;
}

.tagline {
  text-align: center;
}

.tagline .tagline__title {
  font-family: $PostGroteskMedium;
  color: #ffffff;
  font-size: 37px;
  line-height: 31px;
  margin: 0 16px 10px 16px;
  padding: 16px 0;
  border-bottom: 1px rgba(255,255,255, 0.3) solid;
  // opacity: 0;
  // transform: translate3d(0, 20px, 0);
  // transition: transform .6s ease, opacity .6s ease;
  // transition-delay: .1s;
}

@media (min-width: 640px) {
  .tagline {
    padding: 0 16px;
  }
  .tagline .tagline__title {
      border: none;
      padding: 0 24px;
      margin: 0;
    }
  }

.shown .tagline__title {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

.tagline .tagline__body {
  color: #ffffff;
  font-size: 17px;
  line-height: 24px;
  margin: 0 0 20px 0;
  opacity: .5

  // opacity: 0;
  // transform: translate3d(0, 20px, 0);
  // transition: transform .6s ease,opacity .6s ease;
  // transition-delay: .2s;
}

.shown .tagline__body {
  opacity: .5;
  transform: translate3d(0, 0, 0);
}


@media (max-width: 1200px) {

  .slide.slide--one .slide__inner {
    width: 100%;
  }

}


@media (max-width: 740px) {

  .tagline .tagline__title {
    font-size: 22px;
    line-height: 26px;
    
  }

  .tagline .tagline__body {
    padding: 0 24px;
  }

  .hero-image-wrap {
    transform: scale(.9);
    height: 210px;
  }

  // .slide.slide--one {
  //   background-color: #F6F9FA;
  // }
  //
  // .tagline {
  //   max-width: 100%;
  //   width: 100%;
  //   text-align: center;
  //   padding: 0 24px 42px 24px;
  //   max-width: 400px;
  // }
  //
  // .tagline .tagline__title {
  //   font-size: 22px;
  //   margin: 0 0 6px 0;
  //   padding: 0 24px 0 24px;
  // }
  //
  // .tagline .tagline__body {
  //   padding: 0 24px 0 24px;
  //   margin: 0 0 16px 0;
  // }

}

@media (max-width: 400px) {
    .hero-image-wrap {
      transform: scale(.8);
    }
}
