
@font-face {
    font-family: 'postgrotesk';
    src: url('/fonts/PostGrotesk-Book.woff') format('woff');
    font-weight: normal;
}

@font-face {
    font-family: 'postgrotesk-medium';
    src: url('/fonts/PostGrotesk-Medium.woff') format('woff');
    font-weight: normal;
}


.ui.button {
    background-color: #b0f1ee;
    white-space: nowrap;
    padding: 1em 1.2em 1em;
}
.ui.small.button {
    font-size: 15px!important;
}


.commiteth-header {
    background-color: #2f3f44!important;
    border-radius: 0em;
    padding-top: 3em;
}

.ui.text.menu .item {
    color: #fff;
    opacity: 0.98;
}

.ui.mini.circular.image {
    height: 35px;
}

.ui.header {
    color: #fff;
}

.ui.subheader {
    color: #848e91;
    font-weight: normal;
}

.ui.card a {
    color: #848e91;
}

span.dropdown.icon {
    content: url("/img/icon_dropdown.svg");
}

.user-component {
    margin-top: 0px!important;
}
.ui.text.menu {
    .item:hover {
        color: #fff;
        opacity: 0.98;
    }
}

.ui.menu .ui.dropdown .menu>.item a {
    color: #474951!important;
}

.ui {
    font-family: 'postgrotesk';
}

.ui.attached.tabular {
    background-color: #2f3f44;
    border-bottom: none;
    .ui.item {
        padding: 1em;
        color: #fff;
        opacity: 0.98;
        cursor: pointer;
        font-family: 'postgrotesk';
        font-size: 16px;
        font-weight: normal;
    }
    .ui.item.active {
        border-radius: .8rem .8rem 0 0!important;
        color: #b0f1ee;
        background-color: fade(#fff, 10%);
        border-width: 0em;
        cursor: default;
    }
}

.repo-label {
    color: #1bb5c1;
    font-family: 'postgrotesk-medium';
    font-size: 16px;
}

.repo-description {
    color: #474951;
    font-size: 15px;
    font-weight: normal;
    line-height: 24px;
    margin-top: 16px;
    margin-bottom: 16px;
}

.repo-button-container {
    display: inline-block;
    vertical-align: bottom;
    padding: 0em 1em 0em;
    font-family: 'postgrotesk-medium';
    font-size: 15px;
    a {
        padding: 1em;
        font-size: 15px;
    }
}

.page-content {
    margin-top: 2em;
}


.ui.button.repo-added-button {
    color: white;
    background-color: #61deb0;
    cursor: default;
}

.ui.cards>.card {
    border: #e7e7e7 solid 0.1em;
    box-shadow: none;
    border-radius: 0.3em;
    padding: 0.8em 1em 1.1em;

}
.ui.segment {
    border: #e7e7e7 solid 0.1em;
    box-shadow: none;
    border-radius: 0.3em;

    h3 {
        color: #474951;
    }
    a:not(.ui) {
        color: #1bb5c1;
    }
    .label {
        background-color: #61deb0;
        color: #fff;
        margin-right: 1em;
    }
    .time {
        color: #a8aab1;
    }
}


.time {
    color: #a8aab1;
}
