
@font-face {
    font-family: 'postgrotesk';
    src: url('/fonts/PostGrotesk-Book.woff') format('woff');
    font-weight: normal;
}

@font-face {
    font-family: 'postgrotesk-medium';
    src: url('/fonts/PostGrotesk-Medium.woff') format('woff');
    font-weight: normal;
}


.ui.button {
    color: #2f3f44;
    background-color: #b0f1ee;
    white-space: nowrap;
    padding: 0.9em 1.2em 0.9em;
    &:hover {
        background-color: #bdf8f5;
    }
    &:active,&:focus {
        background-color: #97ebe7;
    }
    &:disabled,&:disabled:active {
        background-color: #fff;
        color: #2f3f44;
        border: #e7e7e7 solid 0.1em!important;
    }
}
.ui.small.button {
    font-size: 15px!important;
}


.commiteth-header {
    background-color: #2f3f44!important;
    border-radius: 0em;
    padding-top: 1.5em;
}

.commiteth-tabs {
    padding-top: 1.8em;
}

.top-hunters {
    .header {
        color: #474951!important;
        font-size: 1.1em!important;
        opacity: .98!important;
    }
    .description {
        color: #a8aab1!important;
    }
    .leader-ordinal {
        font-size: 1.5em;
        float: none;
        margin-top: 8px;
        margin-right: 15px;
        color: #a8aab1;
        opacity: .45;
    }
}

.ui.mini.circular.image {
    height: 32px;
    width: 32px!important;
}

.ui.header {
    color: #fff;
}

.ui.subheader {
    color: #848e91;
    font-weight: normal;
}

.ui.card a {
    color: #848e91;
}

.user-component {
    margin-top: 0px!important;
}

.ui.text.menu {
    .item:hover {
        color: #fff;
        opacity: 0.98;
    }
}

.ui.dropdown .item {
    color: #fff!important;
    opacity: 0.98;
}

.ui.menu .ui.dropdown .menu>.item:hover, .ui.menu .ui.dropdown .menu>.selected.item {
    background-color: #fff!important;
}

.ui.input.address-input {
    color: #e7e7e7!important;
    font-size: .8em;
    width: 360px!important;
}

.ui.selection.dropdown.address-input option {
    color: #e7e7e7;
    background-color: yellow!important;
}
.ui.menu.transition.visible {
    font-family: 'postgrotesk';
    font-size: 1em;
    border-radius: 8px;
    border: none;
    padding: .5em;
    .item>a {
        &:hover {
            color:#1bb5c1;
        }
        color: #474951;
    }
}

.logout-link {
    color: #e96868!important;
}

.ui.attached.tabular {
    background-color: #2f3f44;
    border-bottom: none;
    .ui.item {
        padding: 1em;
        color: #fff;
        opacity: 0.98;
        cursor: pointer;
        font-family: 'postgrotesk';
        font-size: 16px;
        font-weight: normal;
    }
    .ui.item.active {
        border-radius: .8rem .8rem 0 0!important;
        color: #b0f1ee;
        background-color: fade(#fff, 10%);
        border-width: 0em;
        cursor: default;
    }
}

.ui.grid {
    margin-top: 0px;
}

.repo-group-title {
    margin-bottom: 1.5em;
}

.repo-label {
    color: #1bb5c1;
    font-family: 'postgrotesk-medium';
    font-size: 16px;
}

.repo-description {
    color: #474951;
    font-size: 15px;
    font-weight: normal;
    line-height: 24px;
    margin-top: 16px;
    margin-bottom: 16px;
}

.repo-button-container {
    display: inline-block;
    vertical-align: bottom;
    padding: 0em 1em 0em;
    font-family: 'postgrotesk';
    font-size: 15px;
    a {
        padding: 1em;
        font-size: 15px;
    }
    .remove-link:hover {
        color: #e96868;
    }
}

.ui.button.repo-added-button {
    color: white;
    background-color: #61deb0;
    cursor: default;
}


.activity-item-container {
    padding: 1em;
}

.activity-item {
    .left-column {
        margin: 0;
        padding-left: 12px;
        padding-top: 12px;
        width: 100px!important;
        .ui.image {
            position: relative;
            width: 48px;
            height: 48px;
            margin: 0;
            padding: 0;
            top: 0;
            left: 0;
        }
    }

    border: #e7e7e7 solid 0.1em!important;
    box-shadow: none!important;
    border-radius: 0.3em!important;
    padding: 0.8em 1em 1.1em!important;
    flex-direction: row!important;
    margin: 1em;

    .content {
        padding: .7em 0 1em;
        font-family: 'postgrotesk';
        line-height: 2em;
        min-width: 300px!important;
        .header {
            font-size: 1.2em;
            font-weight: bold;
            color: #474951;
        }
    }

}


.ui.cards>.card  {
    border: #e7e7e7 solid 0.1em;
    box-shadow: none;
    border-radius: 0.3em;
    padding: 0.8em 1em 1.1em;
}
.ui.segment {
    border: #e7e7e7 solid 0.1em;
    box-shadow: none;
    border-radius: 0.3em;

    h3 {
        color: #474951;
    }
    a:not(.ui) {
        color: #1bb5c1;
    }
    .label {
        background-color: #61deb0;
        color: #fff;
        margin-right: 1em;
    }
    .time {
        color: #a8aab1;
    }
}

.ui.divider.hidden {
    padding: 1em;
}

.time {
    color: #a8aab1;
}

.activity-item {
    .display-name,.description {
        color: #474951!important;
    }
}
.footer-row {
    padding: 1em 0 0;
    .balance-badge {
        float: left;
        margin-right: 1em;
    }
}

.balance-badge {
    color: #fff;
    background-color: #61deb0;
    font-size: 0.9em;
    width: auto;
    min-width: 0;
    height: auto;
    min-height: 0;
    line-height: 2em;
    display: table;
    padding: 0 .5em 0;
    letter-spacing: .04em;
    border-radius: 2px;
}
.fork-span {
    padding-left: .5em;
}

.commiteth-toggle {
    padding-bottom: .5em;
}


.flash-message {
    &.success {
        background-color: #61deb0;
    }
    &.error {
        background-color: #e96868;
    }

    color: #fff;
    border-radius: 8px;
    z-index: 100;
    padding: 1.4em 1em 1.4em;
    i {
        position: absolute;
        margin: 0;
        right: 1.5em;
        top: 1.5em;
        cursor: pointer;
    }
}

.commiteth-footer {
    color: #a8aab1;
    line-height: 1.8em;
    a {
        &:hover {
            color: #a8aab1!important;
        }
        color: #a8aab1!important;
    }
}


.version-footer {
    font-size: .8em;
    a {
        &:hover {
            color: #474951!important;
        }
        color: #474951!important;
    }
}

.ui {
    font-family: 'postgrotesk'!important;
}
