{:test                true
 :port                3001
 ;; when :nrepl-port is set the application starts the nREPL server on load
 :nrepl-port          7001
 :github-access-token "c9323a357c2beeebe4e8d618e0fda47dc9e15f62"
 :github-user         "kagel"}
